html {
  height: 100%;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, #eeeeee, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, #eeeeee, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  text-align: center;

}

a {
  color: #3b8dbd;
  padding: 4px;
}

a:hover,
a:focus {
  outline: #01c4a8 solid 2px;
  border-radius: 5px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 4px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.icon {
  margin: 20px;
  list-style: none;
  width: 100px;
}

.icon > a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon img {
  width: 50px;
  margin-bottom: 10px;
}

.icon a {
  text-align: center;
}

.spotlight .icon {
  width: unset;
}
@media screen and (max-width: 480px) {
  .spotlight .icon {
    width: 100%;
  }
}

.diagonal {
  border-top: 30px solid #eeeeee;
  rotate: -45deg;
  position: absolute;
  width: 1000px;
}

.d0 {
  border-color: #3b8dbd;
  left: -300px;
}

.d1 {
  border-color: #01c4a8;
  left: -330px;
}

.d2 {
  left: -360px;
  border: 10px solid #eeeeee;
  border-bottom: none;
}

h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(127, 88%, 80%);
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 2rem;
  display: inline-block;
  padding: 0px 6px;
}